body,
html {
  font-family: "Open Sans", sans-serif !important;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}

hr {
  height: 4px !important;
  width: 70px !important;
  background: linear-gradient(to right, #a749dd 0%, #274bc6 100%) !important;
}

.header {
  border-radius: 60px !important;
  width: 97% !important;
  z-index: 1000 !important;
  right: 0 !important;
  left: 0 !important;
  margin: 0 auto !important;
  margin-top: 10px !important;
  background-color: #274bc6 !important;
  background: linear-gradient(to right, #a749dd 0%, #274bc6 100%) !important;
}

.headerMenuItem {
  font-size: 18px !important;
}

.headerButton {
  font-size: 14px !important;
  margin: 0.5 !important;
  color: white !important;
}

.herosliderContainer {
  display: table !important;
  width: 100% !important;
  padding: 300px 0 !important;
  background: url(/public/img/intro-bg.png) center center no-repeat !important;
  background-color: #e5e5e5 !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  -o-background-size: cover !important;
  text-align: center !important;
  align-items: center !important;
}

.herosliderText1 {
  font-family: "Raleway", sans-serif !important;
  color: #fff !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  margin-bottom: 10px !important;
}

.herosliderText2 {
  color: #fff !important;
  font-size: 22px !important;
  font-weight: 300 !important;
  line-height: 30px !important;
  margin-bottom: 60px !important;
}

.herosliderButton {
  background-color: #007bff !important;
  color: white !important;
  font-size: 18px !important;
  width: 250px !important;
  font-weight: 400 !important;
  border-radius: 20px !important;
  text-transform: capitalize !important;
}

.featuresContainer {
  background-color: #f6f6f6 !important;
  padding: 100px 0 !important;
}

.featuresTitle {
  color: #333 !important;
  font-size: 36px !important;
  font-family: "Raleway", sans-serif !important;
  text-transform: uppercase !important;
  font-weight: 800 !important;
}

.featuresIcon {
  font-size: 48px !important;
  margin-bottom: 20px !important;
  transition: all 0.5s !important;
  color: #fff !important;
  width: 120px !important;
  padding: 35px 0 !important;
  height: 50px !important;
  border-radius: 50% !important;
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%) !important;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05) !important;
}

.featuresText1 {
  font-size: 20px !important;
  font-weight: 600 !important;
  color: #333 !important;
  margin-top: 20px !important;
  margin-bottom: 10px !important;
  font-family: "Raleway", sans-serif !important;
}

.featuresText2 {
  font-family: "Open Sans", sans-serif !important;
  font-size: 15px !important;
}

.aboutContainer {
  padding: 100px 0 !important;
}

.aboutTitle1 {
  text-align: center !important;
  color: #333 !important;
  font-size: 36px !important;
  font-family: "Raleway", sans-serif !important;
  text-transform: uppercase !important;
  font-weight: 800 !important;
}

.aboutText1 {
  text-align: center !important;
  font-family: "Raleway", sans-serif !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  margin: 30px 0 !important;
}

.aboutTitle2 {
  text-align: center !important;
  font-size: 22px !important;
  font-weight: 600 !important;
  color: #333 !important;
  font-family: "Raleway", sans-serif !important;
  margin: 0 0 20px !important
}

.imageResponsive {
  display: block !important;
  max-width: 100% !important;
  height: auto !important;
}

.servicesContainer {
  padding: 100px 0 !important;
  background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
  color: #fff !important;
}

.servicesTitle {
  font-size: 36px !important;
  font-family: "Raleway", sans-serif !important;
  text-transform: uppercase !important;
  font-weight: 800 !important;
}

.servicesIcon {
  font-size: 48px !important;
  margin-bottom: 20px !important;
  transition: all 0.5s !important;
  color: #fff !important;
  width: 120px !important;
  padding: 35px 0 !important;
  height: 50px !important;
  border-radius: 50% !important;
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%) !important;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05) !important;
}

.servicesText1 {
  font-weight: 500 !important;
  padding: 5px 0 !important;
  font-size: 20px !important;
  font-family: "Raleway", sans-serif !important;
}

.servicesText2 {
  color: #fff !important;
  margin: 0 0 10px !important;
  font-size: 15px !important;
  color: rgba(255, 255, 255, 0.75) !important;
}

.galleryContainer {
  padding: 100px 0 !important;
}

.galleryTitle {
  color: #333 !important;
  font-size: 36px !important;
  font-family: "Raleway", sans-serif !important;
  text-transform: uppercase !important;
  font-weight: 800 !important;
}

.teamContainer {
  padding: 100px 0 !important;
}

.teamTitle {
  color: #333 !important;
  font-size: 36px !important;
  font-family: "Raleway", sans-serif !important;
  text-transform: uppercase !important;
  font-weight: 800 !important;
  text-align: center !important;
}

.teamText1 {
  font-size: 18px !important;
  font-family: "Open Sans", sans-serif !important;
}

.teamImgText1 {
  font-family: "Raleway", sans-serif !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  color: #333 !important;
}

.teamImgText2 {
  font-size: 15px !important;
}

.contactContainer {
  padding: 100px 0 !important;
  background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
  color: #fff !important;
}

.contactTitle {
  font-size: 36px !important;
  font-family: "Raleway", sans-serif !important;
  text-transform: uppercase !important;
  font-weight: 800 !important;
}

.contactDivider {
  background: rgba(255, 255, 255, 0.3) !important;
}

.contactText1 {
  font-size: 16px !important;
  margin: 10px 0 30px !important;
  font-weight: 400 !important;
  font-family: "Open Sans", sans-serif !important;
}

.contactInput {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #444;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.contactButton {
  border: 2px solid #fff !important;
  font-size: 15px !important;
  font-weight: 500 !important;
  border-radius: 30px !important;
  transition: all 0.5s linear !important;
  padding: 14px 34px !important;
  color: #fff !important;
  letter-spacing: 1px !important;
}

.contactInfo {
  color: #fff !important;
  font-size: 20px !important;
  margin-top: 80px !important;
  margin-bottom: 25px !important;
  padding-bottom: 20px !important;
  font-family: "Raleway", sans-serif !important;
}

.contactInfoTitle {
  font-size: 15px !important;
  font-family: "Open Sans", sans-serif !important;
  margin-top: 10px !important;
}

.contactInfoText {
  font-size: 15px !important;
  font-family: "Open Sans", sans-serif !important;
  margin-top: 10px !important;
  font-weight: 200 !important;
}

.icon {
  margin-right: 10px !important;
}

#portfolio {
  padding: 100px 0;
}

.portfolio-item {
  margin: 1px -15px 0 -14px;
  padding: 0;
}

.portfolio-item .hover-bg {
  overflow: hidden;
  position: relative;
  margin: 0;
}

.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background: linear-gradient(to right,
      rgba(99, 114, 255, 0.8) 0%,
      rgba(92, 169, 251, 0.8) 100%);
  padding: 30% 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}

.hover-bg .hover-text>h4 {
  opacity: 0;
  color: #fff;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}

.hover-bg:hover .hover-text>h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.hover-bg:hover .hover-text {
  opacity: 1;
}

.to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 40%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s;
  font-size: 18px;
}

.to-top-button.visible {
  opacity: 1;
}
